/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'NewYorker', sans-serif;
    box-sizing: border-box;
    background-color: #1c4c2f;
}

body {
    background-image: url('assets/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}

a {
    color: inherit;
    text-decoration: none;
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 10px;
    transition: background-color 0.3s;
    font-size: 20px;
    padding: 5px 5px;
}

/* a:hover {
    background-color: #87CEEB;
} */

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    background-color: rgb(10, 85, 10);
    border-bottom: 2px solid #ccc;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.righthead {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.righthead a {
    white-space: nowrap;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
}

/* Application Section */
.apply {
    font-family: 'LibreBaskervilleBold';
    display: flex;
    flex-direction: row;
    padding: 50px 200px;
    gap: 10px;
    justify-content: space-between;
    margin-top: 100px;
}

.leftapply {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width:700px;
}

.leftapply #applytobecreative {
    font-size: 100px;
    font-weight: bold;
}

.leftapply .textdescription {
    font-size: 1em;
}

.applyhere {
    font-family: 'LibreBaskervilleBold';
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 120px;
    height: 30px;
}

/* .applyhere:hover {
    background-color: #87CEEB;
} */

.rightapply {
    flex: 1;
    height: 400px; /* Placeholder height */
    max-width: 500px;
    border-radius: 10px;
}

.textdescription{
    display: flex;
    height: 120px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

/* FAQ Section */
.faq {
    padding: 20px;
    gap: 10px;
    margin-top: 150px;
}

#faqtitle {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

.accordion-time {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.accordion-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 30px;
    background-color: lightblue;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    transition: background-color 0.3s;
}

.accordion-header {
    font-family: 'LibreBaskervilleBold', sans-serif;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

/* .accordion-button:hover {
    background-color: #87CEEB;
} */

.accordion-content {
    font-family: "Libre Caslon Display";
    font-weight: 400;
    font-style: normal;
    width: 100%;
    max-height: 0;
    text-align: left;
    overflow: hidden;
    transition: max-height 0.35s ease-out, padding-top 0.3s ease-out;;
    font-size: 15px;
    color: #333;
}

.accordion-content p {
    margin: 0;
    line-height: 1.6;
  }

.plus {
    display: inline-block;
    width: 35px;
    height: 35px;
    background: url('assets/plus.jpg');
    background-size: contain;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.accordion-button.active .plus {
    background-image: url('assets/plus.jpg');
    transform: rotate(180deg);
}

.accordion-button.active .accordion-content {
    max-height: 200px;
    padding-top: 10px;
  }

.purple {
    background-color: #D9D5C9;
}

.body1{
    padding-left: 60px;
    padding-right: 40px;
}

#faqtitle, #applytobecreative {
    color: #F1AFAF;
}

@font-face {
    font-family: 'NewYorker';
    src: url('fonts/NewYorker-6Y46.ttf') format('truetype');
}

@font-face {
    font-family: 'LibreBaskervilleBold';
    src: url('fonts/LibreBaskervilleBold-A606.ttf') format('truetype');
}
